# Server dependencies
coverage<6.0
coverage-badge==1.1.0
flask==2.0.2
pillow==9.0.0
pydicom==2.2.2
requests==2.27.1
requests-file==1.5.1
tqdm==4.62.3

# Model dependencies
scikit-image==0.18.2
recommonmark
sphinx>=3.2.1
# Deep Learning
torch==1.10.1
torchvision==0.11.2
pytorch_lightning==1.5.6
# Math
scikit-learn==1.0.1
# Utils
lifelines==0.26.4
# Loading
opencv-contrib-python-headless
# Logging
# Comet-ml
torchio==0.18.74
# Downloading snapshots
gdown==4.5.1
